:root{
   --bg--accent-color: #D9E1FA
}

* {
   box-sizing: border-box;
}

body {
   margin: 0;
}

/* accounts */
.accounts {
   width: 100%;
   height: 100vh;
   margin: 0;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
   grid-template-rows: 1fr
}

.accounts .body, .investment .body, .settings .body {
   grid-column: 3 / 9;
   height: 100%;
}

.accounts h2{
   grid-column: 1 / 9;
   height: 10%;
   margin: 0;
   padding: 10px;
}

.accounts .inside {
   width: 70%;
   height: 90%;
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   grid-gap: 30px;
   padding: 20px;
}

.accounts .inside .balance {
   grid-column: 1 / 2;
   height: 150px;
}
.accounts .inside .flex {
   grid-column: 2 / 3;
   grid-row: 1 / 2;
}

.accounts .inside div{
   background-color: var(--bg--accent-color);
   padding: 20px;
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: space-around
}
/* accounts*/