* {
   box-sizing: border-box;
}

body {
   margin: 0;
}




/* groups */
.group {
   width: 100%;
   height: 100vh;
   margin: 0;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
   grid-template-rows: 1fr;
}

.group .body {
   grid-column: 3 / 8;
   height: 100%;
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr 1fr 1fr;
   grid-gap: 30px;
   padding: 20px
}

.group .balance {
   grid-column: 1 / 2;
   grid-row: 1 / 2;
   background-color: #300444;
   border-radius: 40px;
   padding: 20px;
   color: white;
}
.group .body button {
   color: #000
}

.group .join {
   grid-column: 1 / 2;
   grid-row: 2 / 4;
   background-color: #ECFFFA;
   border-radius: 40px;
   padding: 20px;
}

.group .mygroups {
   grid-column: 2 / 3;
   grid-row: 3 / 4;
   background-color: #ECFFFA;
   border-radius: 40px;
   padding: 20px;
}

.group .mygroups section {
   display: flex;
   align-items: center;
   justify-content: space-between
}
.group .mygroups h2 {
   margin: 5px 0;
   font-size: 1rem;
}
.group .mygroups section h3 {
   margin: 5px 0;
   font-size: 0.9rem;
}
.group .mygroups section p {
   margin: 5px 0;
}

.group .create {
   grid-column: 2 / 3;
   grid-row: 1 / 3;
   background-color: #ECFFFA;
   border-radius: 40px;
   padding: 20px
}

.group .create h2 {
   margin: 10px;
}

.group form {
   display: flex;grid-row: 3 / 6;
   flex-direction: column;
}

input {
   margin-bottom: 10px;
}
/* groups */
/* accounts */
.accounts {
   width: 100%;
   height: 100vh;
   margin: 0;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
   grid-template-rows: 1fr
}

.accounts .body, .investment .body, .settings .body {
   grid-column: 3 / 9;
   height: 100%;
}

.accounts h2{
   grid-column: 1 / 9;
   height: 10%;
   margin: 0;
   padding: 10px;
}

.accounts .inside {
   width: 70%;
   height: 90%;
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   grid-gap: 30px;
   padding: 20px;
}

.accounts .inside .balance {
   grid-column: 1 / 2;
   height: 150px;
}
.accounts .inside .flex {
   grid-column: 2 / 3;
   grid-row: 1 / 2;
}

.accounts .inside div{
   background-color: #ECFFFA;
   padding: 20px;
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: space-around
}
/* accounts*/
/* invest */
.investment {
   width: 100%;
   height: 100vh;
   margin: 0;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
   grid-template-rows: 1fr;
}

.investment #top, .settings #top {
   grid-column: 1 / 9;
   height: 10%;
   margin: 0;
   padding: 10px;
}

.investment .inside {
   width: 70%;
   height: 90%;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr 1fr 1fr;
   grid-gap: 30px;
   padding: 20px;
}

.investment .inside div{
   background-color: #ECFFFA;
   padding: 20px;
}
.investment .inside h3 {
   margin: 0;
   font-size: 0.8rem;
   font-weight: 200;
}
.investment .inside h2 {
   margin: 5px 0;
   color: #300444;
   font-size: 1.3rem;
   font-weight: 400;
}

.investment .inside .expect {
   grid-column: 1 / 3;
}
.inside svg {
   float: right;
}
.investment .inside .setup {
   grid-column: 1 / 3;
}
.setup button, .start button {
   background-color: #300444
}
.investment .inside .start {
   grid-column: 1 / 4;
   grid-row: 3 / 5;
}
.inside .start .top {
   height: 20%;
   width: 100%;
   display: flex;
   justify-content: space-around;
   align-items: flex-end;
   border-bottom: 1px solid black;
}
.inside .start .top .sps {
   border-bottom: 2px solid #300444
}
.inside .start .main {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
   height: 80%;
}
/* invest */
/* settings */
.settings {
   width: 100%;
   height: 100vh;
   margin: 0;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
   grid-template-rows: 1fr;
}
/* settings */

.sidebarmenu {
   display: none;
}
.sidebarcontainer {
   width: 23vw;
}

@media (max-width: 1000px) {

  .sidebarmenu {
    display: block;
    z-index: 10;
  }

  .home .body, .noti .body {
    width: 100vw;
  }
}