:root{
   --bg-accent-color: #0b1b4e;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.home {
  width: 100%;
  height: 100vh;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;

}

/* body */
.home .body {
  grid-column: 2 / 9;
  padding: 30px;
}

.body .top {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home .body .top h1 {
  margin: 0;
}

.home .body .calender {
  background-color: var(--bg-accent-color);
  color: white;
  width: 150px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
  border-radius: 10px;
}

.home .main .balance {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  height: 300px;
  padding: 30px;
  border-radius: 200px;
  border: 3px solid #062863;
}
.balance h2 {
  font-size: 1rem;
  font-weight: 100;
  margin: 0;
}
.balance h3 {
  font-size: 2rem;
}
.balance section {
  background-color: var(--bg-accent-color);
  color: white;
  padding: 10px;
  border-radius: 10px;
}
span {
  font-size: 1rem;
}

.home .body .main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main .add div {
  display: flex;
  justify-content: space-around;
  margin: 30px 0;
}

.main .add section {
  background-color: var(--bg-accent-color);
  color: white;
  border-radius: 50px;
  padding: 15px;
  width: fit-content;
}

.main .others {
  width: 100%;
  height: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 30px;
  margin: 40px 0;
}

.main .others div {
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border: 1px solid #000;
  padding: 20px;
  color: white;
}
.main .others div svg {
  float: right;
}

.main .others div h2 {
   margin-bottom: 20px;
}
.main .others div h3 {
   font-size: 2rem;
}

.home .others .flex {
  grid-column: 1 / 2;
  grid-row: 1 /2;
  background-color: #520f70;
}
.home .others .fixed {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  background-color: #102770;
}
.home .others .bonus {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  background-color: #0b1b4e;
}
.home .others .wallet {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  background-color: #110c37;
}
.home .others .investmente {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background-color: #410f70;
}

.main .refer {
  border: 1px solid black;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .refer .top {
  width: 100%;
  height: 20%;
  background-color: #1e36cf;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.refer .top h3 {
  margin: 0;
}

.refer .link {
  border: 1px solid black;
  width: 80%;
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  border-radius: 30px;
  padding-left: 20px;
}
.refer .link section {
  padding: 10px;
}

.refer .icons {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin: 30px 0;
}

.profileSpot{
   width: 28%;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.profileSpot img {
   width: 50px;
   height: 50px;
   border-radius: 40px;
   border: 2px solid #062863;
}

.profileSpot svg {
   cursor: pointer;
}
/* body */

